/*
font-family: 'Mulish', sans-serif;
font-family: 'Philosopher', sans-serif;
*/

body {
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title {
    font-family: 'Philosopher', sans-serif;
    color: peru;
    text-align: center;
    font-size: 48px;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

button {
    padding:10px;
    margin: 10px;
    background-color: #fffbf6;
    border: 1px solid peru;
    color: peru;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

button:hover {
    background-color: peru;
    color: white;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.2s;
}

a:link {
    text-decoration: none;
    color: peru;
    padding:10px; /*added padding so that you cannot hover over the button but not the link, due to effects*/
}

a:hover {
    color:white;
    transition: all 0.5s ease-in-out;
    transition-delay: 0.2s;
}

a:visited {
    color:lightskyblue;
}

.intro__title {
    font-family: 'Philosopher', sans-serif;
    color: peru;
    font-size: 38px;
    text-align: center;
}

.intro__text {
    font-family: 'Mulish', sans-serif;
    text-align: center;
    max-width: 1000px;
    width: 100%;
}

.section__title {
    font-family: 'Philosopher', sans-serif;
    color: peru;
    font-size: 28px;
    text-align: center;
}


.section__text {
    font-family: 'Mulish', sans-serif;
    text-align: center;
    max-width: 900px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.card {
    width: 400px;
    height: 400px;
    margin: 50px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;    
    transform-style: preserve-3d;
}

.card-front, .card-back {
    width: 100%;
    height: 100%;  
    background-color: #fffbf6;
    border: 1px solid peru;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    backface-visibility: hidden;
}

.card-back {
    color: peru;
    font-weight: bold;
    text-align: center;
    
}

img {
    width: 350px;
    height: auto;
}

.img__text {
    max-width: 300px;
    font-family: 'Mulish', sans-serif;
}

.img-curl {
    height: 350px;
    width: auto;
}

.card-a, .card-b, .card-c {
    perspective: 1000px; /*not sure why this is needed, saw it in a walkthrough*/
}

.card-a-inner {
    transition: all 1.5s ease-in-out; 
}

.card-b-inner {
    transition-delay: 0.2s;
}

 .card-a-inner:hover, .card-b-inner:hover {
    transform: rotateY(180deg)
}

.card-a-back, .card-b-back {
    transform: rotateY(180deg);
}

.card-c-inner:hover {
    transform: rotateX(180deg);
}

.card-c-back {
    transform: rotateX(180deg);
}

.card-c-inner {
    transition: all 0.8s ease-in-out;
}

.card-d {
    width: 400px;
    height: 500px;
    margin: 50px; 
    background-color: #fffbf6;
    border: 1px solid peru;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: flipper 10s ease-in-out infinite;
    animation-direction: reverse;
}

@keyframes flipper {
    0% {background-color:#fffbf6; color: peru;}
    50% {background-color: peru; color: #fffbf6;}
    100% {background-color:#fffbf6; color: peru;}
    /* not a great effect for readability, just experimenting*/
}

.card-d:hover {
    animation:none; /*did this instead of pause, so that it wouldn't pause in a place where you can't read the text*/
    background-color: peru;
    color: #fffbf6;
}


